@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* Navbar */
.navbar-bg {
  background-color: #0F3D3E;
  color: white;
}

/* Navbar Logo */
.nav-logo {
  width: 75px;
  min-height: 70px;
  -webkit-transition: -webkit-transform 1s;
}
.nav-logo:hover {
  -webkit-transform: rotate(360deg) translateZ(0);
}
.nav-logo {
  width: 75px;
  min-height: 70px;
}


/* Home Button */
.btn-home {
  background-color: #FFD8A9;
  color: #fff;
  border-radius: 30px;
  transition: transform 0.3s ease;
  padding: 15px;
  text-decoration: none;
}
.btn-home::after, .btn-1::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background-color: #000;
  border-radius: inherit;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.2s ease;
}
.btn-home:hover {
  transform: translate(-12px, -12px);
};
.btn-home:hover::after {
  transform: translate(6px, 6px,);
}
.btn-home:hover::before {
  transform: translate(12px, 12px);
}

/* SALE ANIMATION */
.product {
  position: relative;
  -webkit-text-stroke: 0.5vw white;
  text-transform: uppercase;
}
.product::before {
  content: attr(dataText);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: red;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 4px solid #218958;
  overflow: hidden;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0%, 10%, 100% {
    width: 0;
  }
  50%, 90% {
    width: 41%;
  }
}

/* Banner Logo */
.banner-logo {
  width: 100%;
  max-height: 32rem;
}

/* Registration image */
.register-logo {
  width: 60%;
}

/* Register word link */
.register-link {
  text-decoration: none;
}

/* One Piece at Homepage */
.font-bold {
  font-weight: bolder;
}

/* Card on Products.js */
.prod-card {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

/* Card on ProductCard.js */
.card {
  display: flex;
  justify-content: stretch;
  transition: 0.5s;
  box-shadow: 0 0 3px;
}
.card:hover {
  box-shadow: 3px 4px 3px 4px #000;
}

/* Table striped */
.order-table:nth-child(odd) {
  background-color: #E7F6F2;
}